body {
  background-image: url('https://raw.githubusercontent.com/AdityaKumar0927/webdev_project2/main/media/background-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header h1 {
  color: #00ffea;
  font-size: 3em;
  text-align: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  background-color: rgb(96, 0, 112);
  padding: 15px;
  border-radius: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  padding: 10px 20px;
  color: white;
  background-color: #E91E63;
  border-radius: 5px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #2200fb;
  color: #fff580;
}

.content-box {
  width: 90%;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(40, 67, 135, 1);
  text-align: center;
}

footer {
  background-color: #1b7fcc;
  color: white;
  padding: 15px;
  text-align: center;
}
